.transaction-item {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
}

.transaction-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.transaction-amount {
  font-size: 1.1rem;
}
.transaction-item--expense {
  border-right: 5px solid #c03935;
}

.transaction-item--income {
  border-right: 5px solid #2ecc71;
}
