.transaction-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  margin-bottom: 0.7em;
}

.transaction-delete {
  display: block;
  font-weight: 500;
  background-color: #e74c3c;
  color: white;
  padding: 3px 5px;
  position: absolute;
  left: -21px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.transaction-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.transaction-item:hover .transaction-delete {
  opacity: 1;
}

.transaction-amount {
  font-size: 1.1rem;
}
.transaction-item--expense {
  border-right: 5px solid #c03935;
}

.transaction-item--income {
  border-right: 5px solid #2ecc71;
}
